<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="New_GL_Logo.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=20px>
                    <b> Inclass-Lab  <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content
1. **[User-Define Function](#User_Define)**
2. **[Lambda Functions](#Lambda_Functions)**
    - 2.1 [Map Function](#Map_Function)
    - 2.2 [Filter Function](#Filter_Function)
    - 2.3 [Reduce Function](#Reduce_Function)

### Let's begin with some hands-on practice exercises

<a id='User_Define'></a>
## 1. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [16]:
def swapN(my_list):
    a=my_list[0]
    b=my_list[-1]
    my_list[0]=b
    my_list[-1]=a
    return(my_list)

my_list = [15, 78, 10, 45, 89]
swapN(my_list)

[89, 78, 10, 45, 15]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function which adds two global numeric variables (1204 and 344536)<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
x=1204
y=344536

def addS():
    global x,y
    z=x+y
    return z
addS()

345740

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
def checK():
    if 33%2==0:
        print("Even")
    else:
        print("Odd")
checK()

Odd

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
def fact(x):
    r=1
    for i in range(1,x+1):
        r*=i
    return r
x=int(input("Enter number :"))
fact(x)

Enter number :5

120

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to add new items(1,2,3) in the empty list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
def additems(x,y,z):
    l1=[]
    l1.append(x)
    l1.append(y)
    l1.append(z)
    return l1
additems(1,2,3)

[1, 2, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6.  Write a python function to test whether the two words start with the same character or not (take the inputs from the user)<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [22]:
def wordS(x,y):
    l1=x.lower()
    l2=y.lower()
    if l1[0]==l2[0]:
        print("Same.")
    else:
        print("Not Same.")
x=input("Enter words :")
y=input("Enter words :")
wordS(x,y)

Enter words :ask
Enter words :ls
Not Same.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check if the string contains a vowel or not (take the inputs from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [24]:
def containS(string):
    count=0
    lstring=string.lower()
    l=[]
    for i in lstring:
        if i in ("a,e,i,o,u"):
            l.append(i)
        else:
            continue
    if len(l)>0:
        print("Contains Vowel")
    else:
        print("No Vowel")
        
string=input("Enter string :")
containS(string)

Enter string :lkjhgfd
No Vowel

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [3]:
def uniqueV(x):
    z=set(x)
    return list(z)


my_list = [1,2,3,3,11,34,3,3,4,5]
uniqueV(my_list)

[1, 2, 3, 34, 4, 5, 11]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the common characters from the given two strings<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**<br>
string1 = 'Angel'<br>
string2 = 'apple'

In [26]:
string1="Angel"
string2="apple"

def chartt():
    l1=[]
    global string1,string2
    s1=string1.lower()
    s2=string2.lower()
    for i in s1:
        if i in s2:
            l1.append(i)
        else:
            continue
    return l1
chartt()

['a', 'e', 'l']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Define a function to perform addition, multiplication, and subtraction of the given two numbers<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the number given below:**<br>
a = 15<br>
b = 4

In [27]:
def artm(a,b):
    add=15+4
    mult=15*4
    sub=15-4
    return "add :",add," multiplication :",mult, "sub :",sub
  
artm(15,4)

('add :', 19, ' multiplication :', 60, 'sub :', 11)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Define a function to find the sum of all elements in the list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [34, 34, 55, 2, 56, 45]

In [28]:
def suM(my_list):
    summ=0
    for i in my_list:
        summ+=i
    return summ
my_list = [34, 34, 55, 2, 56, 45]
suM(my_list)

226

<a id='Lambda_Functions'></a>
## 2. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [29]:
x= lambda x,y: x if x>y else y
x(34,78)

78

<a id='Map_Function'></a>
### 2.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [30]:
number = (11, 21, 30, 34)
tuple(map(lambda x:x*x,number))

(121, 441, 900, 1156)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the sentence given below:**<br>
sentence = 'Python for Data Science'

In [31]:
sentence = 'Python for Data Science'
l1=sentence.split()

list(map(len,l1))

[6, 3, 4, 7]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [32]:
numbers = [74, 85, 14, 23]
list(map(lambda x:x%5,numbers))

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [33]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]
print(list(map(lambda x,y: x+str(y),list1,list2)))

['I11', 'felt22', 'happy33', 'because44', 'I55', 'saw66', 'the77', 'others88', 'were99']

<a id='Filter_Function'></a>
### 2.3 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [34]:
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']
list(filter(lambda x: x in arr1,arr2))

['o', 'i', 't']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [35]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]
list(filter(lambda x: x%2!=0,numbers))

[21, 23, 443, 355, 743, 823, 1241, 3673, 37, 7]

In [1]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]
list(filter(lambda x:x%2!=0,numbers))

[21, 23, 443, 355, 743, 823, 1241, 3673, 37, 7]

<a id='Reduce_Function'></a>
### 2.4 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Calculate the sum of the numbers from 1 to 100<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [36]:
from functools import reduce
l1=list(range(1,101))
reduce(lambda x,y:x+y,l1)

5050

In [37]:
#USING ACCUMULATE :
from itertools import accumulate
print(list(accumulate(l1,lambda x,y:x+y)))

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210, 231, 253, 276, 300, 325, 351, 378, 406, 435, 465, 496, 528, 561, 595, 630, 666, 703, 741, 780, 820, 861, 903, 946, 990, 1035, 1081, 1128, 1176, 1225, 1275, 1326, 1378, 1431, 1485, 1540, 1596, 1653, 1711, 1770, 1830, 1891, 1953, 2016, 2080, 2145, 2211, 2278, 2346, 2415, 2485, 2556, 2628, 2701, 2775, 2850, 2926, 3003, 3081, 3160, 3240, 3321, 3403, 3486, 3570, 3655, 3741, 3828, 3916, 4005, 4095, 4186, 4278, 4371, 4465, 4560, 4656, 4753, 4851, 4950, 5050]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [38]:
my_list = [47,11,42,102,13]
from functools import reduce
reduce(lambda x,y: x if x>y else y,my_list)

102

In [39]:
reduce(lambda x,y:max(x,y),my_list)    ## USING MAX FUNCTION

102

In [40]:
# USING ACCUMULATE :
from itertools import accumulate
list(accumulate(my_list,lambda x,y: x if x>y else y))

[47, 47, 47, 102, 102]