# Conditional Statement :

-> If condition :
    if <condition>
        ______________              [Space given below if is called indentation]
        ______________

In [4]:
# Example : Check if eligible for vote
age=float(input("Enter your age :"))
if age>=18:
    print("Eligible")
else:
    print("Not eligible")
print("Done checking")

Enter your age :1
Not eligible
Done checking

In [6]:
# Example :Check if eligible for exam
marks=float(input("Enter marks"))
"eligible" if marks>=60 else "not eligible"

Enter marks4

'not eligible'

-> Nested if else condition:

In [8]:
# Example :
age=float(input("Enter your age :"))
if (age>0) and (age<150):
    if age>=18:
        print("Eligible")
    else:
        print("Not eligible")
else:
    print("Invalid input")

Enter your age :-4
Invalid input

-> If elif condition :

In [10]:
# Example :
age=float(input("Enter your age :"))
if (age<0) or (age>150):
    print("Invalid Input")
elif age>=18:
    print("Eligible")
else:
    print("Not eligible")

Enter your age :180
Invalid Input

In [11]:
# Example :
m=int(input("Enter marks :"))
if m>45 and m<=50:
    print("A")
elif m>40 and m<=45:
    print("B")
elif m>35 and m<=40:
    print("C")
elif m<=35:
    print("D")

Enter marks :40
C

In [21]:
##                                                ZIP Function :

l1=[10,12,18,19]
l2=[1,2,3,4]
print(zip(l1,l2))
print(list(zip(l1,l2)))
print(tuple(zip(l1,l2)))
print(dict(zip(l1,l2)))   # L1=key and L2=key value

<zip object at 0x11164a940>
[(10, 1), (12, 2), (18, 3), (19, 4)]
((10, 1), (12, 2), (18, 3), (19, 4))
{10: 1, 12: 2, 18: 3, 19: 4}

In [22]:
# If length of list are not same then it would consider list with smaller lenght.

l3=[1,2,3,4]
l4=[5,6,7,8,9]
print(zip(l3,l4))
print(list(zip(l3,l4)))
print(tuple(zip(l3,l4)))
print(dict(zip(l3,l4)))

<zip object at 0x112f57040>
[(1, 5), (2, 6), (3, 7), (4, 8)]
((1, 5), (2, 6), (3, 7), (4, 8))
{1: 5, 2: 6, 3: 7, 4: 8}

In [31]:
# It is iterator means can be used only for once then it get destroyed.
# Zip does not have any type.. (i.e type(zip) print nothing in o/p)

In [37]:
##                                                RANGE :

# Range is iterator.
print(range(10))

a=range(10)
l1=list(a)   # List formed is iterable
print(l1)

b=range(5,10,2)   # float cannot be used in range
l2=list(b)
print(l2)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 7, 9]

In [43]:
##                                              ENUMERATE :

# Enumerate is iterator.
l1=[10,11,12,32]
print(enumerate(l1))
print(list(enumerate(l1)))
print(tuple(enumerate(l1)))
print(dict(enumerate(l1)))

<enumerate object at 0x112f56340>
[(0, 10), (1, 11), (2, 12), (3, 32)]
((0, 10), (1, 11), (2, 12), (3, 32))
{0: 10, 1: 11, 2: 12, 3: 32}

In [46]:
a=enumerate(l1)
print(list(a))
print(list(a))  # Can be used only once as its iterator.

[(0, 10), (1, 11), (2, 12), (3, 32)]
[]

In [54]:
##                                             ISINSTANCE :

a=10
print(isinstance(a,str))
print(isinstance(a,int))
print(isinstance(a,(int,str)))    # works as OR operator and check object is integer or string.

False
True
True

# FOR LOOP :

In [1]:
## Program to multiply two uneven list using min and zip function :


#Using min function :
l1=[1,2,3,4,5]
l2=[5,6,7,8]
l3=[]
for i in range (min(len(l1),len(l2))):        ## When list have different lenght
    l3.append(l1[i]*l2[i])
print(l3)

[5, 12, 21, 32]

In [57]:
a,*b=[1,2,3,4,5]
print(a)
print(b)

1
[2, 3, 4, 5]

In [61]:
l1=[1,2,3,4,5]
l2=[5,6,7,8]
l3=list(zip(l1,l2))
for i,j in l3:
    print(i,j)

1 5
2 6
3 7
4 8

In [62]:
# Using ZIP function :
l1=[1,2,3,4,5]
l2=[5,6,7,8]
for i,j in zip(l1,l2):
    print(i*j)

5
12
21
32

In [63]:
# Create two list of even and odd list of a given list :
    
l1=[1,2,3,4,5,6,7]
ev=[]
od=[]
for i in l1:
    if i%2==0:
        ev.append(i)
    else:
        od.append(i)
print("Even :",ev)
print("Odd :",od)

Even [2, 4, 6]
Odd [1, 3, 5, 7]

In [64]:
# Check if digit or letter :
l1=[10,"A",12,"c",13]
d=[]
a=[]
for i in l1:
    if isinstance(i,int):
        d.append(i)
    else:
        a.append(i)
print("Digit :",d)
print("Letter :",a)

Digit : [10, 12, 13]
Letter : ['A', 'c']

In [65]:
## Table of 5 to 10
table=[]
for i in range(5,11):
    temp=[]
    for j in range(1,11):
        temp.append(i*j)
    table.append(temp)
table

[[5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

# While Loop:

In [2]:
# Run until condition is true:

y=input("You want to enter item (Y/N):").lower()    # .lower() will convert captial Y to lower in entered
itt=[]  
while y=="y":
    j=input("Enter item name:")
    y=input("You want to enter item (Y/N):")
    itt.append(j)
print(itt)

You want to enter item (Y/N):y
Enter item name:b
You want to enter item (Y/N):n
['b']

In [78]:
itt=[]
while True:
    y=input("You want to enter item (Y/N):")
    if y=="y":
        j=input("Enter item name:")
        itt.append(j)
    else:
        break
print(itt)

You want to enter item (Y/N):y
Enter item name:sads
You want to enter item (Y/N):n
['sads']

In [4]:
l1=[[1,2],[3,4],[5,6]]
for i in l1:                                #i takes the inner list
    for j in i:                             #j takes the element of a list
        print(j)

1
2
3
4
5
6

In [3]:
[j for i in l1 for j in i]

[1, 2, 3, 4, 5, 6]

# DICTIONARY COMPREHENSION :

In [13]:
## Example : print square of number (even)
a={i:i**2 for i in range(1,11) }
print(a)

b={i:i**2 for i in range(1,11) if i%2==0 }
print(b)

c={i:"even" if i%2==0 else "odd" for i in range(1,11)}
print(c)

s={i**3 for i in range(1,11)}          ##Set
print(s)
type(s)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}
{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}
{64, 1, 512, 8, 1000, 343, 216, 729, 27, 125}

set

In [1]:
## Tupple :
t=(i**3 for i in range(1,11))
print(t)
t1=tuple(t)
t1                     ## can be stored in a variable to use again
print(tuple(t))        ## We get generator as o/p which are iterator (can be used only once)
print(tuple(t))        ## no output

<generator object <genexpr> at 0x104c41970>
()
()