# PRINT :

In [4]:
print("Hello","World",sep=" ")
print("Hello","World",sep="**")
print("Hello \tWorld")
print("Hello \\t World")

Hello World
Hello**World
Hello 	World
Hello \t World

In [15]:
print("Marks in ITP is {}".format(45))           
                     ##  {}- Space Holder for value i.e format(45)
print("Marks in ITP is",45)
print("Marks in ITP is {} and Marks in NPV is {}".format(45,55))
print("EXAM Marks of ITP is {0} and  NPV is {0}".format(50))
                     ##{0}-Used to store same value at zeroth place in format()
print(f"Marks in ITP is {50}")
print(f"Marks in ITP is {50-20}")

Marks in ITP is 45
Marks in ITP is 45
Marks in ITP is 45 and Marks in NPV is 55
EXAM Marks of ITP is 50 and  NPV is 50
Marks in ITP is 50
Marks in ITP is 30

# Variable :
   Name of memory location

In [6]:
user1=input("Enter name:")
print(user1)
print(id(user1))        
                      ## id()- Gives uqinue identity of an object
a_b=10  
                      ## Cannot have any special character other than _
                      ## Cannot start with number (i.e : 9abc)  
                      ## No space btw variable name
                      ## Variable name are case sensetive
                      ## Not use python functions and keywords as varible name

Enter name:a
a
4553118448

# Input :

In [32]:
a=10,20
                      ## Creates a tuple
b,c,k=10,20,40
# a,b= 10,20,40 (Will give error)
d,*e= 10,20,40 
                      ## "*" : Will store 10 in a and store remaining value in b as list
f,*g,h= 10,20,30,40,50
print(a)
print(b,c,k)
print(d,e)
print(f,g,h)

(10, 20)
10 20 40
10 [20, 40]
10 [20, 30, 40] 50

In [33]:
a=50
b=a
print(id(a))
print(id(b))
                     ##Have same memory unquie id

4455710544
4455710544

Question : Take INPUT from user and print.

In [ ]:
user_id=input("Enter your name :")
age=int(input("Enter your age :"))
city=input("Enter your city name :")

##
print("Name :",user_id)
print("Age :",age)
print("City :",city)

##
print("Name is",user_id,"age is",age,"and city is",city)

##
print(user_id,"--",age,"--",city)

##
print("Name=",user_id,"Age=",age,"City=",city)

##
print(f"Name = {user_id}")
print(f"Age = {age}")
print(f"City = {city}")
print(f"Name = {user_id}\nAge = {age}\nCity = {city}")
print(f"Name is {user_id}, Age is {age}, City is {city}")

## Print in same line using 3 print statement
print("Name :",user_id,end=" ")
print("Age :",age,end=" ")
print("City :",city)

# Data Type :
1. int
2. float
3. boolean
4. set
5. complex
6. none

In [36]:
#complex

a=5+4j           ## j or J both can be used 
print(a)
type(a)
print(a.real)
print(a.imag)

b=5J
print(b)
type(b)
print(b.real)    ## display 0.0
print(b.imag)

(5+4j)
5.0
4.0
5j
0.0
5.0

In [37]:
## binary, oct and hexagon : 
print(bin(10))
print(oct(10))
print(hex(10))

## for oct ->  ......,8^3,8^2,8^1,8^0.

0b1010
0o12
0xa

 Convert the data types : Implicit and Explicit

In [43]:
#Implicit : Done by python interpreter 

a=10 #int
b=2  #int
print(a/b)        #float output  (Implicit)
print(int(a/b))   #int output    (explicit)

d="10"
print(a+int(d))   # (Explicit)

5.0
5
20

In [48]:
####  STRING :

s1="10"    # String can only be converted when it contains only digit.
b=int(s1)
print(b)
type(b)

s2="10 "   # have space
c=int(s2)
print(c)

# s3="10.12" -> Cannot be converted to integer as it contain special charachter (i.e ".")

s3="10.12"
d=float(s3)
print(d)

s4="python"      #BOOLEAN 
e=bool(s4)
print(e)
type(e)

s5="10"          #COMPLEX
f=complex(s5)
print(f)

10
10
10.12
True
(10+0j)

In [8]:
#### BOOLEAN :

a= True
b=int(a)
print(b)

c= False
d=int(c)
print(d)

e= True
f=str(e)
print(f)

g= True
h=complex(g)
print(h)

1
0
True
(1+0j)

In [62]:
#### COMPLEX :

a=4+5j
#int(a)         Cannot be converted
#float(a)       Cannot be converted
print(bool(a))

b=0+0j
print(bool(b))

print(str(a))
print(str(b))

True
False
(4+5j)
0j

## OPERATIONS;
Membership:
    IN
    Not IN
    
Used on string,list,tuple,set and dict.

In [63]:
s1="Great Learning"
if "Great" in s1:
    print("Present")
else:
    print("False")

Present

In [64]:
s1="Great Learning"
if "L" in s1:
    print("Present")
else:
    print("False")

Present

BITWISE operators:
    &,|,^

In [65]:
10&12

8

In [66]:
10|12

14

In [67]:
10^12

6

In [71]:
#Not operator :
~(10)   #(-n-1) (-10-1=-11)

-11

In [72]:
~(21)

-22

In [6]:
vv='aabccd'
cc={i:vv.count(i) for i in set(vv)}
cc

{'b': 1, 'd': 1, 'a': 2, 'c': 2}