# FUNCTION :

    ->USER DEFINED FUNCTION :
         Syntax  :   def <name>("Argument")
                        ____________________
                        ____________________

In [5]:
# Example : Finding minimum of a list.

def min_value(x):
    m=x[0]
    for i in x:
        if i<m:
            m=i
    return m
l=[10,10,24,5,53,2,4,44]
min_value(l)

2

In [11]:
 # Example: Finding factor of a number.

def factt(x):
 
    '''
    A function to find the factors of a  numberx.
    Argument - int
    Return- a list of the factors ofx.
    ''' 
   
    l=[]
    for i in range(1,x):
        if x%i==0:
            l.append(i)
    return l

num=int(input("Enter number for factor :"))
factt(num)

Enter number for factor :80

[1, 2, 4, 5, 8, 10, 16, 20, 40]

    Type of Arguments :
        1. no argument
        2. positional arg
        3. keyword
        4. default
        5. variable lenght
        6. keyword variable lenght arg

In [13]:
## 1.     Function with no argument :

def greet():
    return "GOOD MORNING"
greet()

'GOOD MORNING'

In [21]:
## 2.     Function with positional argument :

def getDetails(item,price):
    return f"Item name is {item} and price is {price}"

print(getDetails("Shoe",1500))
print(getDetails(1500,"Shoe"))    ## will reverse the output

Item name is Shoe and price is 1500
Item name is 1500 and price is Shoe
Item name is Shoe and price is 1500

In [24]:
## 3.      Function with keyword :

print(getDetails(price=1500,item="Shoe")) ## will solve the above problem (KEYWORD ARGUMENT)

#print(getDetails(1500,item="Shoe")) --- will show error that item got multiple values.
print(getDetails("Shoe",price=1500))

Item name is Shoe and price is 1500
Item name is Shoe and price is 1500

In [28]:
## 4.      Function with default :

# Apply 20% discount of all the items
def getDiscounted(price,discount=0.2):       ## "discount=0.2" is optional [ No need to specify] also a keyword arg.
    new_price=price-(price*discount)
    return new_price

print(getDiscounted(50000))
print(getDiscounted(50000,0.25))  ## Changed default value of discount for this instance only[Wont change permenantly]

40000.0
37500.0

In [30]:
## 5.       Function with variable length :

#Number of student who have cleared exam

def getCount(*args):          #any name starting with "*____" can be used
    c_p=0
    c_f=0
    for m in args:
        if m>=30:
            c_p+=1
        else:
            c_f+=1
    return c_p,c_f

getCount(30,24,35,23,52,12)

(3, 3)

In [33]:
## 6.       Function with keyword variable length arg :

# Unpacking the dictionary or concatenating :
d1={"a":12,"b":32,"c":45}
d2={"d":54,"e":65}
d3={**d1,**d2}
print(d3)


def kVarFunc(**kargs):
    return kargs
print(kVarFunc(A=10,B=20,C=30,D=40))

{'a': 12, 'b': 32, 'c': 45, 'd': 54, 'e': 65}
{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [6]:
def getCount(**kargs):          
    c_p={}
    c_f={}
    for n,m in kargs.items():
        if m>=30:
            c_p[n]=m
        else:
            c_f[n]=m
    return c_p,c_f

getCount(A=32,B=20,C=55,D=40)

({'A': 32, 'C': 55, 'D': 40}, {'B': 20})

In [10]:
# Print only those value greater than 15 :
d4={"A":10,"B":20,"C":30,"D":40}
print(d4.items())

d={}
for i,j in d4.items():
    if j>15:
        d[i]=j
    else:
        continue
print(d)

dict_items([('A', 10), ('B', 20), ('C', 30), ('D', 40)])
{'B': 20, 'C': 30, 'D': 40}

 ___________________________________________________________________________________________________________________   
    Types of variable :
        1.Global : Can be used anywhere in proram.
        2.Local : Those variable used inside a function and cannot be used outside of the function.
        3.Built ins : Already present in python like "pi"
        4.Enclosed

In [1]:
a=10                # GLOBAL VARIABLE

def func():
    new_val=a+5     # LOCAL VARIABLE
    return new_val
func()

15

    a=10  # GlOBAL VARIABLE

    def func():
        a+=5        # Thinks 'a' as local variable
        return a
    func()

In [3]:
a=10  # GlOBAL VARIABLE
 
def func():
    global a     # TO overcome above problem use this to make 'a' as global variable and value of a also get updated.
    a+=5        
    return a
func()

15

In [6]:
import math
math.pi  ##Built ins   #module: python file name(ex: math)

3.141592653589793

In [3]:
# ENCLOSED :

def outer():
    a=10
    
    def inner():
        return a+10
    return inner()
outer()

20

def outer():
    a=10
    
    def inner():
        a+=10        # Will give error
        return a
    return inner()
outer()

def outer():
    z=10
    
    def inner():
        global z    # Will give error
        z+=10
        return z
    return inner()
outer()

In [6]:
def outer():
    z=10
    
    def inner():
        nonlocal z  #enclosed variable
        z+=10
        return z
    return inner()
outer()

20

In [14]:
def facto(x,c=1):
    if c==x:
        return 
    else:
        if x%c==0:
            print(c)
        return facto(x,c+1)
facto(200)

1
2
4
5
8
10
20
25
40
50
100

# RECURSIVE FUNCTION :

In [8]:
def func(x):
    for i in range(x):
        return i    ## Return only returns one value
func(5)

0

In [5]:
# Program for factorial of number :

def factorial(x):
    if x==0: ## if x==0 act as stopping part of function.if not prsent infinity loop will run and stop at 3000(System limit)
        return 1
    else:
        return (x*factorial(x-1))
factorial(5)

120

In [14]:
import sys
sys.getrecursionlimit()        ## it can be changed using sys.setrecursionlimit(5000)

3000

In [2]:
## Program to print sum of N number :

def sumM(x):
    if x==0:
        return 0
    else:
        return x+sumM(x-1)
sumM(2)

3

# LAMBDA FUNCTION :

    Syntax: 
             lambda x,y:          # x,y - Variable name


    Example: Sum of X and Y

             lambda x,y: x+y
             
             
    Mostly used with MAP , FILTER, REDUCE and ACCUMULATE.

In [17]:
# Program to get addition.
s= lambda x,y : x+y
s(10,20)                 # return value of s.

30

In [18]:
# Program to find greater.
highest= lambda x,y : x if x>y else y
highest(10,20)

20

In [22]:
# Program to find highest among 3:
highest_2= lambda x,y,z : x if x>y and x>z else y if y>z and y>x else z
highest_2(1,3,2)

3

# MAP FUNCTION :

    -> Works only on iterable data type.

    Syntax : map(function_name,iterable,---------)

In [2]:
# Program to find odd or even :

l1=[10,11,12,13,14,15,16,17]
list(map(lambda x:"even" if x%2==0 else "odd",l1))

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [26]:
def eo(x):
    if x%2==0:
        return("even")
    else:
        return("odd")
list(map(eo,l1))       ## Dont use eo() as it passes at function.It is used as argument here.

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [27]:
# Program to find length of each item in a list.

l2=["ABC","ABCDE","LMNFDS","JSJDHASD"]
tuple(map(len,l2))

(3, 5, 6, 8)

In [21]:
#Program to find sum of nested list.

l3=[[10,12,17,19],[15,45,87],[55,65,67]]
list(map(sum,l3))

[58, 147, 187]

In [34]:
# Program to find sum from dictionary.

d1={"A":[10,12,17,19],
    "B":[15,45,87],
    "C":[55,65,67]}
print(dict(map ( lambda x:(x,sum(d1[x])),d1)))

print(tuple(map(lambda x:sum(d1[x]),d1)))

{'A': 58, 'B': 147, 'C': 187}
(58, 147, 187)

In [35]:
l5=[("A",58),("B",147),("C",187)]    ## List with tuple as element having 2 object can be converted to DICTIONARY
dict(l5)

{'A': 58, 'B': 147, 'C': 187}

In [36]:
l6=l5=(("A",58),("B",147),("C",187)) ## Tuple with tuple as element having 2 object can be converted to DICTIONARY
dict(l6)

{'A': 58, 'B': 147, 'C': 187}

In [42]:
d1={"A":[10,12,17,19],
    "B":[15,45,87],
    "C":[55,65,67]}
tuple(map(lambda x,y:(x,sum(y)),d1.keys(),d1.values()))

(('A', 58), ('B', 147), ('C', 187))

# FILTER FUNCTION :

            Syntax :     filter(function or none,iterable)
            
            NOTE:-
            Function can be lambda,user defined function,build in.
            ONLY ONE ITERABLE CAN BE PASSED.
            
            
            MAP will change the value but filter will just filter it out.

In [43]:
# Filter out even number :

l1=list(range(15))
list(filter(lambda x: x%2==0,l1))

[0, 2, 4, 6, 8, 10, 12, 14]

In [44]:
# Filter out if length less than 3 :

l2=["ABCD","DE","HIDH","a"]
list(filter(lambda x:len(x)<3,l2))

['DE', 'a']

# REDUCE FUNCTION :
   
    Will give single value as output.
    Need to import from "functools" module.

In [23]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda x,y:x+y,l1)

15

# ACCUMULATE FUNCTION :
    Gives intermediate result

In [25]:
from itertools import accumulate
list(accumulate(l1,lambda x,y:x+y))

[1, 3, 6, 10, 15]

In [4]:
a= {i:i**2 for i in range(1,16)}
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [1]:
def factors(x,i):
    if i==0:
        return
    if x%i == 0:
        print(i)
    return factors (x,i-1) #simpler version of the problem

factors(12,12)

12
6
4
3
2
1

In [15]:
def factors(n, m = 2):
    if m>=n:
        return
    if n % m == 0:
        print(m)
    return factors(n, m + 1)
factors(15)

3
5

In [13]:
def prime_factors(n, m = 2):
    if m > n:
        return
    elif n % m == 0:
        print(m)
        return prime_factors(n // m, m)
    else:
        return prime_factors(n, m + 1)
    
prime_factors(20)

2
2
5

In [ ]:
if m>n:
    return
elif n%m==0:
    print(m)
    return p(n//m,m)
else:
    return p(n/m+1)